<!DOCTYPE html>
<html lang='en' ng-app='toDoApp'>
  <head>
    <meta charset="utf-8">
    <title>intro to angular</title>
    <link rel= 'stylesheet' href='todo.css'>
    <script src="angular.min.js"></script>
    <script src='app.js'></script>
    <script src='controller.js'></script>
  </head>
  <body>
    <div ng-controller='ToDoController as ctrl'>
      <p ng-repeat='todos in ctrl.todos'> {{todos.text}}: {{todos.completed ? 'Completed' : 'Not completed'}} </p>
      <input type='text' ng-model='todotext' placeholder="add to do">
      <button ng-click='ctrl.addToDo(todotext);'>Add to do </button>
      <button ng-click='ctrl.removeToDo()'> Remove Last to do </button>

    </div>

  </body>
</html>
